<html>
  <head>
    <title>Home</title>
      <%- include("sections/header") %>
  </head>
      <%- include("sections/menu") %>
  <body>



    

  </body>

  <footer>
    SquirrelNET 2018&copy;
  </footer>

</html>
