@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

nav{
  background:#677e74;
  width:100%;
  height:42px;
  position:fixed;
  top:0px;
}

nav ul{
  display:grid;
  height:100%;
  grid-template-columns: 120px 120px 120px auto 140px 120px;
}

nav a{
  color:inherit;
  text-decoration: none;
}

nav ul li{
  padding:10px;
  background:#92a4ac;
  text-align:center;
  font-size:18px;
  list-style:none;
  border-right: solid black 2px;
}

nav ul li:hover{
  background:#a4ced4;
}

.menu-right {
  border-left: solid black 2px;
  border-right: none;
}

body{
  background:#dddbdb;
  margin-top:42px;
  margin-bottom: 60px;
}

article{
  margin:10px;
  padding:10px;
  background:#ffffff;
}

article h1{
  padding:10px 0;
}

section h1{
  color:white;
  text-align: center;
  font-size:32px;
  padding:70px;
  letter-spacing: .05em;
  text-shadow:
      3px 2px 0px #222222,
      5px 5px 0px rgba(0, 0, 0, 0.2);
}

footer{
  position:fixed;
  padding:30px 0 10px 20px;
  width:100%;
  bottom:0px;
  background:	#444d47
}

@media only screen and (max-width: 600px) {

  nav ul{
    display:grid;
    font-size:0px;
    grid-template-columns: 60px 60px 60px auto 60px 60px;
  }

  nav ul li{
    padding:10px;
    background:#92a4ac;
    text-align:center;
    font-size:0px;
    list-style:none;
    border-right: solid black 2px;
  }

  nav ul li i{
    font-size:18px;
  }

  article{
    background:#ffffff;
    padding:5px;
  }

  article h1{
    padding:10px 0;
  }


}

button {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  	box-shadow:inset 0px 1px 3px 0px #91b8b3;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #677e74), color-stop(1, #6c7c7c));
  	background:-moz-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
  	background:-webkit-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
  	background:-o-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
  	background:-ms-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
  	background:linear-gradient(to bottom, #677e74 5%, #6c7c7c 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#677e74', endColorstr='#6c7c7c',GradientType=0);
  	background-color:#677e74;
  	-moz-border-radius:5px;
  	-webkit-border-radius:5px;
  	border-radius:5px;
  	border:1px solid #566963;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:15px;
  	font-weight:bold;
  	padding:12px 16px;
  	text-decoration:none;
  	text-shadow:0px -1px 0px #2b665e;
    margin:15px;
}


.header-parallax{
  background: url("/img/header1.jpg");
  background-size:100%;
}


.login{
  padding:10px;
  background:#92a4ac;
  text-align:center;
  font-size:18px;
  list-style:none;
  border-right: solid black 2px;
}

.lostPwd{
  text-align:right;
  font-size:12px;
  margin:auto;
  margin-bottom:5px;
  width:100%;
  color:#a73f2d;

}

.loginContainer {
  max-width:300px;
  width:auto;
  margin: 50px auto;
  padding:50px 25px ;
  background:white;
  border-radius:10px;
}

.errors{
  margin-top:10px;
  border-radius:5px;
  padding:10px;
  color:white;
  background:#e53434;
}

.loginContainer h1 {
  padding-bottom:35px;
  text-align:center;
}


.loginField {
  width: 100%;
  border-radius:4px;
  padding:5px;
  margin-bottom:10px;
  color:black;
  background:#eeeeee
}

.submit {
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #677e74), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #677e74 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#677e74', endColorstr='#6c7c7c',GradientType=0);
	background-color:#677e74;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
  width:100%;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

.logo-sidebar {
  width:100px;
  margin:5px 30px;
}
.dashboard-sidebar {
  position:fixed;
  width: 170px;
  background:#677e74;
  height:100%;
}

.dashboard-sidebar h2{
  text-align:center;
  border-bottom: black solid 1px;
  margin:0px 5px 0px 5px;
  padding-bottom:10px;
}

.dashboard-sidebar li {
  padding: 20px 30px;
  font-size: 18px;
}

.dashboard-sidebar li:hover {
  background:#7eb19b
}

.overview {
  padding-left:190px;
  padding-right:20px;
  padding-top:20px;
}

.dashboard-sidebar a{
  color:inherit;
  text-decoration: none;
}

.selected-dash {
  border-right:5px solid #7d5656;
}

@media only screen and (max-width: 600px) {

  .logo-sidebar {
    width:40px;
    margin:5px 10px;
  }

  .dashboard-sidebar {
    position:fixed;
    width: 60px;
    background:#677e74;
    height:100%;
  }

  .dashboard-sidebar h2{
    text-align:center;
    border-bottom: black solid 1px;
    margin:0px 5px 0px 5px;
    padding-bottom:5px;
  }

  .sidebar-title:after {
    font-size:16px;
    content: 'SCMS';
  }

  .dashboard-sidebar h2 span{
    display:none;
  }

  .dashboard-sidebar li {
    padding: 15px 20px;
    font-size: 0px;
  }

  .dashboard-sidebar li i{
    font-size:20px;
  }

  .dashboard-sidebar li:hover {
    background:#7eb19b
  }

  .overview {
    padding-left:60px;
    padding-right:0px;
    padding-top:0px;
  }

}

.listPosts {
  padding-left:190px;
  padding-right:20px;
  padding-top:20px;
}
.postContainer{
  background:white;
  padding:15px;
  display:grid;
  grid-column-gap:15px;
  grid-template-columns: 15px 80px minmax( 100px, 1fr) 50px 50px;
  border-bottom: solid black 1px;
}

.postid{
  text-align:center;
}

.largeContent{
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mobileContent{
  overflow-wrap: break-word;
  word-wrap: break-word;
  display:none;
}

@media only screen and (max-width: 600px) {

  .listPosts {
    padding-left:60px;
    padding-right:0px;
    padding-top:0px;
  }

  .postContainer{
    background:white;
    padding:5px;
    display:grid;
    grid-column-gap:5px;
    grid-template-columns: 15px 80px minmax( 100px, 1fr) 50px 50px;
    border-bottom: solid black 1px;
  }

}

@media only screen and (max-width: 800px) {

  .largeContent {
    overflow-wrap: break-word;
    word-wrap: break-word;
    display:none;
  }

  .mobileContent {
    overflow-wrap: break-word;
    word-wrap: break-word;
    display:block;
  }

}

.stats {
  display:grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  padding:10px;
  background:white;
  font-size:18px;
}

.editForm{
  display:grid;
  grid-template-columns: 80px minmax(150px, 1fr);
}


.editLabel{
  padding:15px 0;
}

.editSubmit{
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #677e74), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #677e74 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #677e74 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#677e74', endColorstr='#6c7c7c',GradientType=0);
	background-color:#677e74;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
  width:150px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
  margin:20px 0;
  grid-column-start:1;
  grid-column-end:1;
  text-align:center;
}

.deleteSubmit{
  -moz-box-shadow:inset 0px 1px 3px 0px #2a2218;
	-webkit-box-shadow:inset 0px 1px 3px 0px #2a2218;
	box-shadow:inset 0px 1px 3px 0px #2a2218;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2a2218), color-stop(1, #b34332));
	background:-moz-linear-gradient(top, #2a2218 5%, #b34332 100%);
	background:-webkit-linear-gradient(top, #2a2218 5%, #b34332 100%);
	background:-o-linear-gradient(top, #2a2218 5%, #b34332 100%);
	background:-ms-linear-gradient(top, #2a2218 5%, #b34332c 100%);
	background:linear-gradient(to bottom, #2a2218 5%, #b34332 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b54b3a', endColorstr='#7a2a1d',GradientType=0);
	background-color:#2a2218;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
  width:150px;
	border:1px solid #2a2218;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
  margin:20px 0;
}

#mceu_15{
    margin-left:-5px;
    background:#eeeeee;
    grid-column-start: 1;
    grid-column-end: 3;
}

#editor{
    grid-row-start:12;
    grid-row-end:12;
    height:300px;
}

.editField {
  border-radius:4px;
  padding:5px;
  margin:10px 5px;
  color:black;
  background:#eeeeee
}


@media only screen and (max-width: 600px) {

  .editForm{
    display:grid;
    grid-template-columns: 80px minmax(150px, 1fr);
    padding:5px;
  }

}

.editForm h3{
  grid-column-start: 1;
  grid-column-end: 3;
  padding:5px 0px;
}

.portfolioContainer{
  background:white;
  padding:15px;
  display:grid;
  grid-column-gap:15px;
  grid-template-columns: 80px auto 28px 35px;
  border-bottom: solid black 1px;
}

#portfolio{
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) )
}

.project{
    text-align: center;
    padding:10px;
    max-width: 350px;
    min-height:150px;
}

.project a{
  color:inherit;
  text-decoration: none;
}

.project h2{
  margin:15px;
  padding:75px 25px;
  color:grey;
  background:#eeeeee;
}

.project h2:hover{
  color:black;
  background:#ffffff;
}


.project img{
  width:80%;
}

.project img:hover{
  opacity: 0.8;
}

.title{
  padding: 10px 10px;
}
